* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 17px;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #07000d;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
  position: relative;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
